<script type="text/javascript" charset="utf-8">
   toggle_active_link('nav_gallery');
</script>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<h1>Gallery</h1>
<hr class="prepend-top">
<hr class="space">
<h4 class="info"><strong>We atheists and agnostics truly are a happy, freethinking bunch. See how PATAS members work, play, and fight the good fight against ignorance through pictures. <em>We are good without god!</em></strong></h4>
<hr class="space">
<hr class="space">
<div class="gallerycontainer">
  <a class="thumbnail" href="#thumb"><%= image_tag '1.jpg', width: '100px', height: '66px', border: 0 %><span><%= image_tag '1.jpg' %><br>
  PATAS members.</span></a> <a class="thumbnail" href="#thumb"><%= image_tag '2.jpg', width: '100px', height: '66px', border: 0 %><span><%= image_tag '2.jpg' %><br>
  Atheism: FIlipino Style</span></a><br>
  <a class="thumbnail" href="#thumb"><%= image_tag '3.jpg', width: '100px', height: '66px', border: 0 %><span><%= image_tag '3.jpg' %><br>
  We are good without god!</span></a> <a class="thumbnail" href="#thumb"><%= image_tag '4.jpg', width: '100px', height: '66px', border: 0 %><span><%= image_tag '4.jpg' %><br>
  Heathens!</span></a><br>
  
    <a class="thumbnail" href="#thumb"><%= image_tag '5.jpg', width: '100px', height: '66px', border: 0 %><span><%= image_tag '5.jpg' %><br>
  More PATAS members.</span></a> <a class="thumbnail" href="#thumb"><%= image_tag '6.jpg', width: '100px', height: '66px', border: 0 %><span><%= image_tag '6.jpg' %><br>
  For Science and Reason</span></a><br>
  <a class="thumbnail" href="#thumb"><%= image_tag '7.jpg', width: '100px', height: '66px', border: 0 %><span><%= image_tag '7.jpg' %><br>
  Scientia et Ratio!</span></a> <a class="thumbnail" href="#thumb"><%= image_tag '8.jpg', width: '100px', height: '66px', border: 0 %><span><%= image_tag '8.jpg' %><br>
  Atheism: More Fun in the Philippines!</span></a><br>
  
  <a class="thumbnail" href="#thumb"><%= image_tag '9.jpg', width: '100px', height: '66px', border: 0 %><span><%= image_tag '9.jpg' %><br>
  More PATAS members.</span></a> <a class="thumbnail" href="#thumb"><%= image_tag '10.jpg', width: '100px', height: '66px', border: 0 %><span><%= image_tag '10.jpg' %><br>
  For Science and Reason</span></a><br>
  <a class="thumbnail" href="#thumb"><%= image_tag '11.jpg', width: '100px', height: '66px', border: 0 %><span><%= image_tag '11.jpg' %><br>
  Scientia et Ratio!</span></a>
</div>
