<script type="text/javascript" charset="utf-8">
   toggle_active_link('nav_jem');
</script>

<div class="span 17 last">
  <h1>About the Webmaster</h1>
  <hr class="prepend-top">
  <hr class="space">
  
  <p><blockquote>”"He knew only that his child was his warrant. He said: If he is not the word of God God never spoke." -Cormac McCarthy</blockquote></p>
  <hr class=space>
  <p><blockquote>“I contend that we are both atheists. I just believe in one fewer god than you do. When you understand why you dismiss all the other possible gods, you will understand why I dismiss yours”  — Stephen Roberts</blockquote></p>
  <hr class=space>
  <%= image_tag "jem1.jpg", alt: "Jem Pimentel", class: "left" %>
  <div class="larger">
    <p>
      <em><strong>Jem Pimentel</strong></em> is a freelance software developer, musical theater director, writer, and teacher. In his spare time, he loves reading novels and technical books, critiquing movies, listening to rock music, writing stories and poetry, debating, hanging out with his buddies, directing plays, crunching code, teaching, and doing whatever else suits his fancy.</span>
    </p>
    <p>
      His advocacies include freedom from religion and atheism, human rights, animal rights, and education. He is the Academic and Learning Resources Director of the <em><%= link_to "Philippine Atheists and Agnostics Society", "http://www.patas.co" %></em>, and a member of <em><%= link_to "Filipino Freethinkers (FF)", "http://filipinofreethinkers.org" %></em> and <em><%= link_to "Amnesty International.", "http://www.amnesty.org.ph/" %></em>
    </p>
    <p>
      Jem is currently reading Information Technology in Our Lady of Fatima University.
    </p>
  </div>
  <hr class="space">
  <hr>
  <div class="span-7 clear lists colborder">
    <h2>Technologies I Leverage:</h2>
    <div class="info">
        <ul>
        <li>General Software Development (C#.NET, Scala, VB.NET, Haskell, Java, C/C++, etc.)
        <li>Web Development (Ruby on Rails, ASP.NET, PHP, Javascript/Jquery/Coffeescript, CSS3, HTML5)
        <li>Windows Server and Linux Administration
        <li>Networking
        <li>RDBMS (SQL Server, Postgres, Oracle, MySQL, ADO.NET, LINQ)
      <ul>
    </div>
  </div>
  <div class="span-9 lists last">
    <h2>Where I Worked:</h2>
    <div class="success">
      <ul>
        <li><strong>Siemens Inc.</strong> / Toshiba America Information Systems - Tech Support Level 2, Team Leader, and Technical Trainer
        <li><strong>Sejong Academy</strong> - Instructor, Academic and IT Manager
        <li><strong>ALC High School</strong> - Computer Instructor
        <li><strong>Freelance Developer</strong>
        <li><strong>Freelance Academic Tutor</strong>
        <li><strong>Department of Trasportation and Communication</strong> - Office of the Undersecretary of Communication
      <ul>
    </div>
  </div>
  <hr class="space">
  <hr>
  <div class="span-17 last">
    <div class="larger">
      <p>
        Interested in academic tutoring for all major subjects and all levels (intermediate to higher Math, Science, Computer Science, and English)? Need software for your business? Want to put up a website and make a killing on the Internet? Contact Jem Pimentel at 656 8895 or email him at <%= link_to "colopatiron2009@hotmail.com.", "mailto: colopatiron2009@hotmail.com" %>
      </p>
      <p>
        You can also visit Jem and schedule tutorial sessions at <%= link_to "his Facebook account.", "http://www.facebook.com/jem.pimentel" %>
      </p>
    </div>
  </div>
</div>