<script type="text/javascript" charset="utf-8">
   toggle_active_link('nav_home');
</script>

<h1>Maligayang Pagbisita sa Iskolar Ateista!</h1>
<h2><em>(Welcome to the Scholarly Atheist!)</em></h2>
<hr class="prepend-top">
<hr class="space">

<div class="span 17 last">
  <%= image_tag "patas_logo.jpg", alt: "PATAS Logo", class: "left" %>
  <div class="larger">
    <p>Thank you for visiting the official education hub and online library catalog of the <em>Philippine Atheists and Agnostics Society</em>. It has been an exciting journey developing this site and we hope you'll have half as much fun browsing it as I had making it. Sure, the site's still rough around the edges, but with your help, we can make this home of atheist education in the Philippines one of the best the web has to offer. Do send us your <%= link_to "suggestions!", "mailto: colopatiron2009@hotmail.com" %></p>
    <p>There's a lot of ground to cover; but before you feel overwhelmed, know that you've started at the right place! Here, I'll give you a short guided tour of <em>Iskolar Ateista</em>: what's in store for you as well as what's to come. So go ahead! Look around, shop, browse our books &mdash; we're sure that something will catch your eye. From all of us in PATAS, enjoy your stay and happy surfing!</p>
  </div>
  <hr class="space">
  <hr>
  <div class="span-7 clear lists colborder">
    <h2><%= link_to "Online Library", store_index_path %></h2>
    <p class="success prepend-top"><strong>Begin by browsing our selection of atheism and agnosticism <%= link_to "books", store_index_path %> from the PATAS library! We have a huge selection, and eventually all of the books will be available here for purchase. Never hear that a Richard Dawkins book is out of stock ever again!</strong></p>
  </div>
  <div class="span-9 lists last">
   <h2><%= link_to "About PATAS", info_about_patas_path %></h2>
    <p class="info prepend-top"><strong>Find out more about the Philippine Atheists and Agnostics Society and the stalwart people behind them <%= link_to "here!", info_about_patas_path %></strong></p>
  </div>
  <hr class="space">
  <hr>
    <div class="span-7 clear lists colborder">
    <h2><%= link_to "About the Webmaster", info_about_the_webmaster_path %></h2>
    <p class="notice prepend-top"><strong>If you want to know more information about <em>Jem Pimentel</em>, the guy who developed this site, than you can ever have use for... click <%= link_to "here", info_about_the_webmaster_path %>! This is also the place to visit if you are interested in academic tutorial sessions (from moi!) and if you are looking for a programmer/web developer.</strong></p>
  </div>
  <div class="span-9 lists last">
   <h2><%= link_to "FAQs", info_faqs_path %></h2>
    <p class="alert prepend-top"><strong>Got a burning question that just needs answering (about this site)? Well then, your queries shall find the answers they seek <%= link_to "here.", info_faqs_path %></strong></p>
  </div>
</div>