<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Iskolar Ateista - The PATAS Education Hub">
    <meta name="author" content="Jem Pimentel">
    
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Search engine fodder -->
    <meta name="keywords" content="atheism, agnosticism, Philippines, Filipino, Pinoy, atheist, agnostic, education, resources, books, tutoring, PATAS, Katipunan Foundation, irreligion, library">
    
    <title><%= title %></title>  
    
    <%= stylesheet_link_tag 'blueprint/screen', media: "screen, projection" %>
    <%= stylesheet_link_tag 'blueprint/print', media: "print" %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie', media: 'screen, projection' %>
    <![endif]-->
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <div class="container">
      
      <div id="header" class="span-24 append-bottom last">
        <div id="logo" class="span-5 last">
          <%= link_to (image_tag "Logo.png", class: "logo_image", alt: "Iskolar Ateista"), home_path, title: "Home" %>
        </div>
        
        <div id="nav" class="span-19 last">
          <ul>
            <li id="nav_home" class="active"><%= link_to "Home", home_path, title: "Home" %></li>
            <li id="nav_books"><%= link_to "Books", store_index_path, title: "Books" %></li>
            <!-- <li id="nav_blog"><%= link_to "Blog", "#", title: "Blog" %></li> -->
            <li id="nav_videos"><%= link_to "Videos", media_videos_path, title: "Videos" %></li>
            <li id="nav_gallery"><%= link_to "Gallery", media_gallery_path, title: "Gallery" %></li>
            <li id="nav_patas"><%= link_to "PATAS", info_about_patas_path, title: "About PATAS" %></li>
            <li id="nav_jem"><%= link_to "About Jem", info_about_the_webmaster_path, title: "About Jem" %></li>
            <li id="nav_forum"><%= link_to "Forum", "#", title: "Forum" %></li>
          </ul>
        </div>
        <div id="mast" class="span-24 last">
          <%= image_tag "masthead1.png", alt: "Masthead" %>
        </div>
        <div id="subheader" class="span-24 last">
          <h2><em>Think</em> Without Fear, <em>Live</em> Without Delusions</h2>
        </div>
      </div>

      <hr class="space" />
      <div id="sidebar" class="span-5 box">
        <div id="welcome">
          <p>Welcome to Iskolar Ateista!</p>
          <p> Today is <%= Date.today.to_s(:long) %> </p>
          <hr class="space" />
          <hr class"prepend-top">
        </div>
        
        <div id="cart">
          <% if @cart %>
            <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
              <%= render @cart %>
            <% end %>
          <% end %>
        </div>
        
        <div id="sidebar_links">
          <ul>
            <li><%= link_to "Getting Started", home_path, title: "Getting Started" %></li>
            <li><%= link_to "FAQs", info_faqs_path, title: "FAQs" %></li>
            <li><%= link_to "Contact Us", info_contact_us_path, title: "Contact Us" %></li>
            <li><%= link_to "Site Map", info_site_map_path, title: "Site Map" %></li>
          </ul>
        </div>
      </div>
      
      <div id="content" class='<%= controller.controller_name.to_s + '_class' %> span-17 push-1 last'>
        <%= yield %>
      </div>
      
      <div id="footer" class="span-24 prepend-top clear last">
        <p>
          Copyright &copy; 2012 Jem Pimentel. All Rights Reserved. | <%= link_to "Privacy", info_privacy_and_legal_path, title: "Privacy" %> | <%= link_to "Legal", info_privacy_and_legal_path, title: "Legal" %> | <%= link_to "Email the Webmaster", "mailto: colopatiron2009@hotmail.com", title: "Email the Webmaster" %>
        </p>
      </div>

    </div>
    
    <!--
    TODO Add placeholder for ads
    TODO Make pretty visuals for "personal" page
    TODO CSS Header Effects
    TODO Cycle masthead images
    -->
    
  </body>
</html>
